body{
  color: #50fa7b;
  background-color: #282a36;
}
.container{
  border-style: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  background-color: #44475a;
  margin: 25% 25% 25% 25%;
  padding: 5% 0 5% 20vw;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}
li {
  list-style-type: none;
  border-left: 2px solid #f8f8f2;
  margin-left: 1em;
}
li div {
  padding-left: 1em;
  position: relative;
}
li div::before {
  content:'';
  position: absolute;
  top: 0;
  left: -2px;
  bottom: 50%;
  width: 0.75em;
  border: 2px solid #f8f8f2;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
}
ul > li:last-child {
  border-left: 2px solid transparent;
}
a:link{
    text-decoration: none;
    color: #50fa7b
}
a:visited{
    color: #50fa7b
}

