* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #cfd0d0;
  color: #333333;
}
h1{
  color:  #0fa7ff;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}
  .svg {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
  img {
    width: 99%;
  }
  
  .buttons {
    justify-content: space-between;
    width: 300px;
  }
    p {
      background: #cfd0d0;
      box-shadow: 5px 5px 13px #b6b7b7, -5px -5px 13px #e8e9e9;
      padding: 10px;
      cursor: pointer;
      user-select: none;
      border-radius: 5px;
      font-weight: 900;
    }
      p:active {
        box-shadow: inset 5px 5px 13px #b6b7b7, inset -5px -5px 13px #e8e9e9;
      }
    span{
    padding-right: 15px; 
  }
  
.one,
.two,
.third,
.stop {
  animation: rotate linear infinite;
  animation-play-state: running;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
